/* CSS RESET STYLING START */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,           
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET STYLING END */

/* ============================== */

/* GENERAL STYLING START */
:root {
    /* Main Colors */
    --main-color: rgb(0, 1, 31);
    --sub-color: rgb(30, 50, 100);
    --accent-color: #33BBC5;

    /* Base Font Colors */
    --dark-color-text: #D5D5D9;
    --light-color-text: #08071d;

    /* Background Colors */
    --dark-color-bg: #060619;
    --light-color-bg: #f6f6f6;

    /* Section Colors */
    --section01-color: rgb(15, 25, 55);
    --section02-color: #1D2770;
    --section03-color: #1196A0;
    --section04-color: #891F5F;
    --section05-color: #822388;
    --section06-color: #AF283C;

    /* Dark Mode Colors */
    --dark-color-primary: #9594E6;
    --dark-color-secondary: #891F5F;
    --dark-color-accent: #891F5F;

    /* Light Mode Colors */
    --light-color-primary: #1b196b;
    --light-color-secondary: #e076b5;
    --light-color-accent: #af283c;

    /* Special Fonts in use */
    --special01-font: 'Londrina Solid', sans-serif;
    --special02-font: 'Source Code Pro', monospace;
    --special03-font: 'Press Start 2P', monospace;

    /* Header Fonts in use */
    --head01-font: 'Passion One', sans-serif;
    --head02-font: 'Rubik', sans-serif;
    
    /* Content Fonts in use */
    --content01-font: 'Roboto', sans-serif; 
    --content01-font: 'Roboto Mono', monospace;
}

* {
	z-index: 999; 
}
	
html {
	scroll-behavior: smooth;
}
	
body {
	background-color: var(--main-color);
}
	
.no-highlight{
	user-select: none;
}

.card {
    width: 18rem;
}

.guide {
    font-size: 5rem;
    font-weight: 600;
}

.sub-guide {
    font-size: 2rem;
    font-weight: 600;
}

.dots {
    width: 1rem;
    height: 1rem;
    background: var(--section03-color);
}

/* Fill Color */
.fill-origin {
	fill: var(--main-color);
}
/* Fill Color */
/* GENERAL STYLING END */

/* ============================== */

/* PRELOADER STYLING START */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loader-img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    margin: -100px 0 0 -100px;
    z-index: 1001;  
    background-image: url(./images/preloader/school-student.gif);
    background-repeat: no-repeat;
    background-size: 150px;
    z-index: 1020;
}

#loader {
    color: var(--dark-color-text);
    font-family: var(--special02-font);
    font-size: 2rem;

    position: absolute;
    left: 20%;
    top: 55%;
    margin: -100px 0 0 -100px;
    z-index: 1001;
}

span[class^="dot-"]{
    opacity: 0;
}
.dot-one{
animation: dot-one 2s infinite linear
}
.dot-two{
animation: dot-two 2s infinite linear
}
.dot-three{
animation: dot-three 2s infinite linear
}
@keyframes dot-one{
0%{
    opacity: 0;
}
15%{
    opacity: 0;
}
25%{
    opacity: 1;
}
100%{
    opacity: 1;
}
}

@keyframes dot-two{
0%{
    opacity: 0;
}
25%{
    opacity: 0;
}
50%{
    opacity: 1;
}
100%{
    opacity: 1;
}
}

@keyframes dot-three{
0%{
    opacity: 0;
}
50%{
    opacity: 0;
}
75%{
    opacity: 1;
}
100%{
    opacity: 1;
}
}

.loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;  
    background: var(--main-color);
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.loader-section.section-left {
    left: 0
}

.loader-section.section-right {
    right: 0
}

.panel_left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000)
}

.panel_right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000)
}

.loaded-img {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .3s 1s ease-out;
    transition: all .3s 1s ease-out
}
/* PRELOADER STYLING END */

/* ============================== */

/* PARALLAX LANDING STYLING START */
#landing {
    contain: paint;
    min-height: 75vh;
    display: grid;
    grid-template-areas: "stack";
}

#landing > * {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
}

#landing > img {
    width: 100%;
}

#hero-section {
    --parallax-speed: 10;
    z-index: 10;
}

.parallax-img {
    pointer-events: none;
}

#parallax-bg {
    --parallax-speed: -2;
    z-index: 1;
    min-height: 100%;
    width: 100%;
}

#parallax-dust {
    --parallax-speed: -15;
    z-index: 2;
    min-height: 100%;
}

#parallax-plague-doctor {
    --parallax-speed: 15;
    z-index: 4;
    opacity: .9;
}

#parallax-rays {
    --parallax-speed: -15;
    z-index: 3;
    min-height: 100%;
}

.brand-logo {
    --parallax-speed: -10;
    max-width: 200px;
    position: relative;
    cursor: pointer;
    background: radial-gradient(rgba(0, 0, 0, 0.8), transparent 70%);
}

#parallax-foreground-front, #parallax-foreground-back {
    z-index: 999;
    align-self: end;
}

#parallax-foreground-back {
    transform: scaleY(1.2);
    transform-origin: bottom;
    mix-blend-mode: hard-light;
}

@keyframes parallax {
    to {
        transform: translateY(calc(var(--parallax-speed) * 200px));
    }
}
/* PARALLAX LANDING STYLING END */

/* ============================== */

/* SVG IRREGULAR SHAPE EFFECT STYLING START */
.curved-svg-start {
    display: block;
    align-self: start;
}

.curved-svg-end {
    display: block;
    align-self: end;
}
/* SVG IRREGULAR SHAPE EFFECT STYLING END */

/* ============================== */

/* HERO SECTION STYLING START */
#hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    z-index: -1;
    scale: 2;
    opacity: 0.5;
    filter: blur(5rem);
    translate: -50%;
}

.hero-title{
	font-family: var(--special01-font);
	font-size: 6rem;
	line-height: 1;
	font-weight: 900;
	letter-spacing: 1rem;
    margin-bottom: 13rem;
}

/* Explore Button */
#hero-section .container {
    width: 334px;
}

.explore {
    font-family: var(--special02-font);
    font-weight: 400;
    font-size: 1.3rem;
    overflow: hidden;
    position: relative;
    color: whitesmoke;
    box-shadow: 0 0 5px var(--section03-color), 0 0 25px var(--section03-color);
    width: 100%;
    -webkit-transition: background-position .7s,box-shadow .4s;
    transition: background-position .7s,box-shadow .4s;
    background-size: 110%;
}

  .explore:hover {
    background-position: 0% 30%;
}
  
  .explore:hover:after {
    right: -55px;
    -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
    transition: right .4s,-webkit-transform 30s .2s linear;
    transition: right .4s,transform 30s .2s linear;
    transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}

.explore:before, .explore:after {
    font-family: FontAwesome;
    display: block;
    position: absolute;
}

.explore:before {
    -webkit-transition: all 1s;
    transition: all 1s;
    font-size: 25px;
    left: 19px;
    top: 26px;
}

.explore:after {
    -webkit-transition: right .4s, -webkit-transform .2s;
    transition: right .4s, -webkit-transform .2s;
    transition: right .4s, transform .2s;
    transition: right .4s, transform .2s, -webkit-transform .2s;
    font-size: 100px;
    opacity: .3;
    right: -120px;
    top: -13.5px;
}

.explore {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(115, 25, 65, 1)), to(var(--section04-color))), url("http://blog.teamthinklabs.com/wp-content/uploads/2012/09/codepen-460x253.png");
    background-image: linear-gradient(to bottom, rgba(115, 25, 65, 1), var(--section04-color)), url("http://blog.teamthinklabs.com/wp-content/uploads/2012/09/codepen-460x253.png");
}

.explore:hover {
    box-shadow: 0 0 5px var(--accent-color), 0 0 25px var(--accent-color), 0 0 50px var(--accent-color) !important;
}

.explore:hover:after {
    -webkit-transform: scale(1);
            transform: scale(1);
}
  
.explore:hover:before {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.explore:after, .explore:before {
    content: "";
}

.explore a {
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px rgba(0, 1, 31, 0.2);
    color: whitesmoke;
}

.explore b {
    font-size: 1.4rem;
    font-weight: 700;
}
/* Explore Button */

/* HERO SECTION MEDIA QUERIES START */
@media only screen and (max-width: 1200px){ 

	.hero-title {
		font-size: 5rem;
        margin-bottom: 8rem;
        padding-inline: 10rem;
	}
}

@media only screen and (max-width: 992px){ 

	.hero-title {
        letter-spacing: .8rem;
        margin-bottom: 6rem;
		
	}
}

@media only screen and (max-width: 767px){ 
    .hero-title {
		font-size: 4rem;
        padding-inline: 0rem;
	}

    .hero-title button {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 576px){ 
	.hero-title {
		font-size: 2.5rem;
		letter-spacing: 0.2rem;
	}

    .hero-title button {
        font-size: 0.75rem;
    }
}	
/* HERO SECTION MEDIA QUERIES END */
/* HERO SECTION STYLING END */

/* ============================== */

/* MAIN CONTENT STYLING START */
.main-content {
    contain: paint;
    background: var(--main-color);
    padding-block: 1rem;
    width: 100%;
}
/* MAIN CONTENT STYLING END */

/* ============================== */

/* MENU NAVIGATION DESKTOP STYLING START */
#sidenav a {
    position: absolute;
    left: -140px;
    transition: 0.3s;
    padding: 15px;
    width: 200px;
    text-decoration: none;
    font-family: var(--special02-font);
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    border-radius: 0 5px 5px 0;
    text-shadow: 2px 2px 5px rgba(0, 1, 31, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 1, 31, 0.5);
  }
  
#sidenav a:hover {
    left: 0;
}

#sidenav-about {
    top: 40px;
    background-color: var(--section01-color);
}

#sidenav-experience {
    top: 120px;
    background-color: var(--section02-color);
}

#sidenav-projects {
    top: 200px;
    background-color: var(--section03-color);
}

#sidenav-gallery {
    top: 280px;
    background-color: var(--section04-color);
}

#sidenav-gallery i {
    font-size:36px;
}

#sidenav-skills {
    top: 360px;
    background-color: var(--section05-color);
}

#sidenav-contact {
    top: 440px;
    background-color: var(--section06-color);
}
/* BACK TO TOP BUTTON STYLING START */

/* ============================== */

/* MENU NAVIGATION MOBILE STYLING START */
#btn-back-to-top {
    background-color: var(--section02-color);
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    text-shadow: 2px 2px 5px rgba(0, 1, 31, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 1, 31, 0.5);
}
/* BACK TO TOP BUTTON STYLING END */

/* ============================== */

/* ABOUT SECTION STYLING START */
#about-section .curved-svg-start {
    fill: var(--main-color);
}

#about-section {
    font-family: var(--head01-font);
    color: var(--main-color);
    background-color: var(--light-color-bg);
    background-image: url(./images/textures/paper-texture-01.png);
    background-blend-mode: multiply;
}

/* Drop Greeting Text Animation */
.drop-greeting {    
    text-shadow: 2px 2px 5px rgba(0, 1, 31,0.75);  
    font-size: 10rem;
    letter-spacing: 0.75rem;
    opacity: 0.9;
}

@media only screen and (max-width: 992px){ 

	.drop-greeting {   
        font-size: 8rem;
        letter-spacing: 0.75rem;
        opacity: 0.9;
    }
}

.letter-h {
    color: rgb(115, 25, 65);
}

.letter-e {
    color: rgb(140, 30, 80);           
}

.letter-y {
    color: rgb(160, 25, 90);      
}

.letter-l {
    color: rgb(180, 35, 100);
}

.letter-o {
    color: rgb(190, 40, 110);
}

.exclaim {
    color: rgb(195, 40, 110);
}

#about-section .greeting {
    font-size: 3.5rem;
    font-style: 900;
} 
/* Drop Greeting Text Animation */

#about-section .name {
    font-size: 6rem;
    font-weight:400;
    color: var(--sub-color); 
} 

#about-section .job a{
    font-family: var(--special02-font);
    font-size: 2rem;
    font-weight: 900;
    color: var(--sub-color);
    letter-spacing: 0rem;
    line-height: 1;
    text-decoration: none;
} 

#about-section .intro-1 {
    font-family: var(--content02-font);
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    
    > span {
        text-transform: uppercase;
        font-size: 3rem;
        color: var(--section03-color);
        text-shadow: 2px 2px 2px rgba(0, 1, 31, 0.6);  
    }
} 

#about-section .intro-2 {
    font-family: var(--content02-font);
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: .2rem;
    color: var(--sub-color);
} 

#about-section .curved-svg-end {
    fill: var(--section01-color);
}
/* ABOUT SECTION STYLING END */

/* ============================== */

/* EXPERIENCE SECTION STYLING START */
#experience-section .curved-svg-start {
    fill: var(--section01-color);
}

#experience-section {
    background-image: url(./images/textures/paper-texture-02.png);
    background-blend-mode: multiply;
    background-size: cover;
    background-color: var(--section03-color);
    color: #fff;
}

#experience-content {
    background-image: url(./images/experience/office-building.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
} 

#experience-section .content {
    background-color: rgba(0, 1, 31,0.9);
}

#experience-section h2 {
    color: var(--dark-color-text);
    font-family: var(--head01-font);
    font-weight: 400;
    letter-spacing: 0.5rem;
}

#experience-content h3 {
    color: var(--accent-color);
    font-family: var(--head01-font);
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
}

#experience-content h4 {
    font-family: var(--head02-font);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

#experience-content p {
    font-family: var(--content01-font);
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.3;
}

#experience-content .content {
    bottom: 10rem;
}
/* EXPERIENCE SECTION STYLING END */
 
/* ============================== */

/* PROJECTS SECTION STYLING START */
#projects-section {
    font-family: var(--head01-font);
    color: var(--main-color);
    background-image: url(./images/textures/paper-texture-01.png);
    background-blend-mode: multiply;
    background-color: var(--accent-color);
} 

#projects-section h2{
    color: whitesmoke;
    font-family: var(--head01-font);
    font-weight: 400;
    letter-spacing: 0.5rem;
}

#projects-section h3{
    color: whitesmoke;
    font-family: var(--head02-font);
    font-weight: 700;
    letter-spacing: 0.25rem;
}

#projects-section .card-title{
    color: var(--main-color);
    font-family: var(--head01-font);
    font-weight: 400;
}

#projects-section p {
    font-size: 0.75rem;
    font-family: var(--content01-font);
    line-height: 1.2;
    font-weight: 300;
}

#projects-section .card-time {
    font-size: 0.6rem;
    font-family: var(--content01-font);
    font-weight: 100;
}

#projects-section .link-icons {
    color: var(--section02-color);
}

#projects-section .link-icons:hover {
    color: var(--accent-color);
}

.content-gallery {
    position: relative;
    width: 90%;
    max-width: 560px;
    overflow: hidden;
}
  
.content-gallery .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
  
.content-gallery:hover .content-overlay{
    opacity: 1;
}
  
.content-image{
    height: 100%;
    width: 100%;
}
  
.content-details {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
.content-gallery:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
  
.content-details h3{
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.15em;
}
  
.content-details p{
    color: #fff;
    font-size: 0.8em;
}
  
.fadeIn-bottom{
    top: 80%;
}
/* PROJECTS SECTION STYLING END */

/* ============================== */

/* SKILLS SECTION STYLING START */
#skills-section {
    font-family: var(--head01-font);
    color: rgb(0, 1, 31);
    background-image: url(./images/textures/paper-texture-03.png);
    background-blend-mode: multiply;
    background-color: var(--section06-color);
} 

#skills-section h2{
    color: var(--dark-color-text);
    font-family: var(--head01-font);
    font-weight: 400;
    letter-spacing: 0.5rem;
}

#skills-section .skill-card {
    background-color: rgba(0, 1, 31,0.5);
}

#skills-section h3 {
    color: var(--dark-color-text);
    font-family: var(--head02-font);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

#skills-section h4 {
    color: var(--dark-color-text);
    font-family: var(--content01-font);
    font-weight: 700;
    font-size: .75rem;
}
/* SKILLS SECTION STYLING END */

/* ============================== */

/* CONTACT SECTION STYLING START */
#contact-section {
    font-family: var(--content01-font);
    color: var(--main-color);
    background-image: url(./images/textures/paper-texture-01.png);
    background-blend-mode: multiply;
    background-color:#555;
} 

#contact-section h2 {
    color: whitesmoke;
    font-family: var(--head01-font);
    font-weight: 400;
    letter-spacing: 0.5rem;
}

#contact-section h3 {
    font-family: var(--special02-font);
    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: whitesmoke;
} 

#contact-section .socials {
    color: var(--dark-color-text);
    font-size: 4rem;
}

#contact-section .socials:hover {
    color: var(--section03-color);
    font-size: 5rem;
}

#contact-section h4 a{
    font-family: var(--special03-font);
    font-size: 5rem;
    letter-spacing: 0.5rem;
    line-height: 1.5;
    color: whitesmoke;
} 

#contact-section h4 a:hover {
    color: var(--accent-color);
    padding-top: 1rem;
    transition-duration: 0.2s;
  }

@media only screen and (max-width: 1200px) { 
    
    #contact-section h4 a{
        font-size: 2rem;
        letter-spacing: 0.5rem;
        line-height: 1.5;
    } 
}

#contact-section h5 {
    font-family: var(--head02-font);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    line-height: 1.5;
    color: whitesmoke;
} 

@media only screen and (max-width: 1200px) { 
    
    #contact-section h5{
        font-size: 1.5rem;
        letter-spacing: .25rem;
        line-height: 1.5;
    } 
}

.form-section {
    background-color: rgba(0, 1, 31, 0.75);
}
/* CONTACT SECTION STYLING END */

/* ============================== */

/* FOOTER SECTION STYLING START */
footer {
    background-color: var(--main-color);
    color: whitesmoke;
    font-family: var(--head02-font);
}

footer a {
    color: var(--accent-color);
    font-family: var(--head02-font);
    font-weight: 900;
    font-size: 2rem;
}
/* FOOTER SECTION STYLING END */